# Regla fallback global: Asignación por defecto si ninguna ruta específica coincide
* @erwinsaul

/src/escuadra/modulos/civil/* @Alex-Calle-P @Vizalla @YORDY-SG @LinoSimon20
/src/escuadra/modulos/electrica/* @Alex-Calle-P @Vizalla @YORDY-SG @LinoSimon20
/src/escuadra/core/* @Alex-Calle-P @Vizalla @YORDY-SG @LinoSimon20
/docs/* @Alex-Calle-P @Vizalla @YORDY-SG @LinoSimon20